.carousel-img {
    width: 100%; /* 100% da largura do contêiner do carrossel */
    height: 500px; /* Altura fixa desejada */
    object-fit: cover; /* Para manter a proporção e cortar a imagem */
}

.card-imoveis {
    border:none; 
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.spinner-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
}